$height: 60rpx;
$page-background-color: #fbfbfb;
$font-color: #726f6e;
$border-color: #d8d7d7;

@mixin ScrollHorizontally {
	overflow-x: scroll;
	white-space: nowrap;
}

#Board {
	width: 100vw;
	height: 100vh;
	background-color: $page-background-color;

	.rotate {
		float: right;
	}

	.left-right-margin {
		margin: 20rpx auto 0;

		.DrawingBoard {
			width: inherit;
			background-color: white;
			border-radius: 10px;
			margin: 0 auto;
			border: 1px solid $border-color;
		}

		.total-control-board {
			color: $font-color;
			width: inherit;
			background-color: $page-background-color;
			margin-top: 40rpx;
			display: flex;
			transition: all 0.3s ease-in;

			.pencil-color {
				display: inline-block;
				margin-right: 20rpx;
				margin-top: 20rpx;
				box-sizing: border-box;
				border-radius: 50%;
				width: $height;
				height: $height;
				border: 1px solid $border-color;
				padding: 8rpx;
				background-clip: content-box;
			}

			.operate {
				flex: 1;
				line-height: $height;
				font-size: 14px;
				border-radius: 6px;
				padding: 20rpx 0;
				@include ScrollHorizontally;

				.board-button {
					margin-right: 20rpx;
					display: inline-block;
					width: 20%;
					height: $height;
					text-align: center;
					border: 1px solid $border-color;
					border-radius: 5px;
				}

				.complete {
					display: inline-block;
					width: 20%;
					height: $height;
					text-align: center;
					border: 1px solid #008ef9;
					border-radius: 5px;
					color: white;
					background-color: #008ef9;
				}

				.color-list {
					display: inline-block;
					box-sizing: border-box;
					width: $height;
					height: $height;
					border-radius: 50%;
					background-clip: content-box;
					border: 1px solid $border-color;
					padding: 10rpx;
					margin: 0 20rpx 0 20rpx;
				}
			}

			.pen-size {
				flex: 1;
				font-size: 14px;
				border-radius: 6px;
				height: 102rpx;
				@include ScrollHorizontally;

				display: flex;
				justify-content: center;
				align-items: center;

				.size-list {
					display: inline-block;
					box-sizing: border-box;
					background-color: #eee;
					border-radius: 50%;
					padding: 10rpx;
					margin: 0 20rpx 0 20rpx;
				}
			}
		}
	}
}
